<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta http-equiv="Expires" content="30" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.accent_color }}">

    {%- capture seo_page_title -%}
      {%- if request.page_type == 'search' and search.terms != blank -%}
        {{ search.terms | split: ' AND ' | last }} - {{ shop.name }}
      {%- else -%}
        {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
      {%- endif -%}
    {%- endcapture -%}

    <title>{{- seo_page_title -}}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    
	{% render 'boost-sd-fallback' %}
 
    {% if template contains "product" %}
      <link rel="canonical" href="https://{{content_for_header | split:'"pageurl":"' | last | split:'"' | first | replace: "\", ""}}">
	{% elsif template contains "collection" %} 
      <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" /> 
    {% else %} 
      <link rel="canonical" href="{{ canonical_url }}" /> 
    {% endif %}

    <script>
    var webhook_domain = 'https://04b7-120-29-78-255.ngrok-free.app';
    document.addEventListener('DOMContentLoaded', () => {
      /** init gtm after 3500 seconds - this could be adjusted */
      setTimeout(initGTM, 5000);
    });
    document.addEventListener('scroll', initGTMOnEvent);
    document.addEventListener('mousemove', initGTMOnEvent);
    document.addEventListener('touchstart', initGTMOnEvent);
    function initGTMOnEvent(event) {
      initGTM();
      event.currentTarget.removeEventListener(event.type, initGTMOnEvent); // remove the event listener that got triggered
    }
    function initGTM() {
      if (window.gtmDidInit) {
        return false;
      }
      window.gtmDidInit = true; // flag to ensure script does not get added to DOM more than once.
      const script = document.createElement('script');
      script.type = 'text/javascript';
      script.async = true;
      // ensure PageViews is always tracked (on script load)
      script.onload = () => {
        dataLayer.push({ event: 'gtm.js', 'gtm.start': new Date().getTime(), 'gtm.uniqueEventId': 0 });
      };
      script.src = 'https://www.googletagmanager.com/gtm.js?id=GTM-TXXZF4T';
      document.head.appendChild(script);
    }
    </script>
    <!-- Google Tag Manager -->
    <!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TXXZF4T');</script> -->
    <!-- End Google Tag Manager -->

    <!-- SmartLook script -->
    <script type='text/javascript'>
    window.smartlook||(function(d) {
      var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
      var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
      c.charset='utf-8';c.src='https://web-sdk.smartlook.com/recorder.js';h.appendChild(c);
      })(document);
      smartlook('init', '70c35be1395e1d789dd0e38e6209141be408125e', { region: 'eu' });
      smartlook('record', { forms: true });
      smartlook('record', { ips: true });
      smartlook('record', { emails: true });
      smartlook('record', { numbers: true });
    </script>
    <!-- End SmartLook script -->

    <!-- CSS -->
    <link rel="stylesheet" href="{{ 'flickity.min.css' | asset_url }}">
    <!-- JavaScript -->
    <script src="{{ 'flickity.pkgd.min.js' | asset_url }}"></script>
  
    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x96' }}" type="image/png">
    {%- endif -%}

    {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com">
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.gstatic.com">

    {% render 'social-meta-tags' %}
    {% render 'css-variables' %}

    {{ content_for_header }}

    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'custom.scss.css' | asset_url }}">
    {% if template != "index" %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/>
    {% endif %}
    
    {% render 'microdata-schema' %}

    <script>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        pageType: {{ request.page_type | json }},
        cartCount: {{ cart.item_count | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        showDiscount: {% if settings.show_discount %}true{% else %}false{% endif %},
        discountMode: {{ settings.discount_mode | json }},
        searchMode: {{ settings.search_mode | json }},
        cartType: {{ settings.cart_type | json }}
      };

      window.routes = {
        rootUrl: {{ routes.root_url | json }},
        cartUrl: {{ routes.cart_url | json }},
        cartAddUrl: {{ routes.cart_add_url | json }},
        cartChangeUrl: {{ routes.cart_change_url | json }},
        searchUrl: {{ routes.search_url | json }},
        productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
      };

      window.languages = {
        collectionOnSaleLabel: {{ 'collection.product.discount_html' | t | json }},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormAddToCart: {% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | json }}{% else %}{{ 'product.form.add_to_cart' | t | json }}{% endif %},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMultipleResults: {{ 'cart.shipping_estimator.multiple_results_title' | t | json }},
        shippingEstimatorErrors: {{ 'cart.shipping_estimator.errors' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.8,
        expFactor: 3,
        customMedia: {
          '--phone': '(max-width: 640px)',
          '--tablet': '(min-width: 641px) and (max-width: 1023px)',
          '--lap': '(min-width: 1024px)'
        }
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {%- if request.page_type == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <!-- <script src="https://www.google.com/recaptcha/api.js?render=6LdugRApAAAAAAUCSuMJkoySzur_4sDBXn7GmTqD"></script>
    <script>
          grecaptcha.ready(function () {
              grecaptcha.execute('6LdugRApAAAAAAUCSuMJkoySzur_4sDBXn7GmTqD', {action: 'submit'}).then(function (token) {
                  console.info("got token: " + token);
                  document.getElementById('g-recaptcha-response').value = token;
              });
          });
      </script> -->
    <script src="//cdn.polyfill.io/v3/polyfill.min.js?unknown=polyfill&features=fetch,Element.prototype.closest,Element.prototype.matches,Element.prototype.remove,Element.prototype.classList,Array.prototype.includes,Array.prototype.fill,String.prototype.includes,String.prototype.padStart,Object.assign,CustomEvent,Intl,URL,DOMTokenList,IntersectionObserver,IntersectionObserverEntry" defer></script>
    
    <script>
      /*! js-cookie v3.0.1 | MIT */
!function(e,t){"object"==typeof exports&&"undefined"!=typeof module?module.exports=t():"function"==typeof define&&define.amd?define(t):(e=e||self,function(){var n=e.Cookies,o=e.Cookies=t();o.noConflict=function(){return e.Cookies=n,o}}())}(this,(function(){"use strict";function e(e){for(var t=1;t<arguments.length;t++){var n=arguments[t];for(var o in n)e[o]=n[o]}return e}return function t(n,o){function r(t,r,i){if("undefined"!=typeof document){"number"==typeof(i=e({},o,i)).expires&&(i.expires=new Date(Date.now()+864e5*i.expires)),i.expires&&(i.expires=i.expires.toUTCString()),t=encodeURIComponent(t).replace(/%(2[346B]|5E|60|7C)/g,decodeURIComponent).replace(/[()]/g,escape);var c="";for(var u in i)i[u]&&(c+="; "+u,!0!==i[u]&&(c+="="+i[u].split(";")[0]));return document.cookie=t+"="+n.write(r,t)+c}}return Object.create({set:r,get:function(e){if("undefined"!=typeof document&&(!arguments.length||e)){for(var t=document.cookie?document.cookie.split("; "):[],o={},r=0;r<t.length;r++){var i=t[r].split("="),c=i.slice(1).join("=");try{var u=decodeURIComponent(i[0]);if(o[u]=n.read(c,u),e===u)break}catch(e){}}return e?o[e]:o}},remove:function(t,n){r(t,"",e({},n,{expires:-1}))},withAttributes:function(n){return t(this.converter,e({},this.attributes,n))},withConverter:function(n){return t(e({},this.converter,n),this.attributes)}},{attributes:{value:Object.freeze(o)},converter:{value:Object.freeze(n)}})}({read:function(e){return'"'===e[0]&&(e=e.slice(1,-1)),e.replace(/(%[\dA-F]{2})+/gi,decodeURIComponent)},write:function(e){return encodeURIComponent(e).replace(/%(2[346BF]|3[AC-F]|40|5[BDE]|60|7[BCD])/g,decodeURIComponent)}},{path:"/"})}));
    </script>
    {{ 'jquery.min.js' | asset_url | script_tag }}
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}"></script>
    
    {% if template != "index" %}
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js" defer></script>
    {% endif %}


    {% if template != "index" %}
    <script src="https://04b7-120-29-78-255.ngrok-free.app/js/genemco-app.js" id="genemco-script" data-url="https://04b7-120-29-78-255.ngrok-free.app" defer></script>
    {% endif %}
    {%- if request.page_type != 'cart' -%}
      <script>
        (function () {
          window.onpageshow = function() {
            // We force re-freshing the cart content onpageshow, as most browsers will serve a cache copy when hitting the
            // back button, which cause staled data
            document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
              bubbles: true,
              detail: {scrollToTop: false}
            }));
          };
        })();
      </script>
    {%- endif -%}
  	{% include 'rfq_script' %}

<!--begin-boost-pfs-filter-css-->
  
<!--end-boost-pfs-filter-css-->

{% if template contains "faq" or template.name == 'collection' %}
{{ 'ddshop-faq.css' | asset_url | stylesheet_tag }}
{% endif %}

 <!--begin-boost-pfs-filter-css-->
   
 <!--end-boost-pfs-filter-css-->

 

 <!--begin-boost-pfs-filter-css-->
   {% render 'boost-pfs-style' %}
 <!--end-boost-pfs-filter-css-->

 
</head> 
  
  <body class="warehouse--v1 {% if settings.animation_image_zoom %}features--animate-zoom{% endif%} template-{{ request.page_type | handle }} {% if request.page_type contains '/' %}template-{{ request.page_type | split: '/' | last | handle }}{% endif %} page-{{ template | split: '.' | last }}" data-instant-intensity="viewport">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXXZF4T"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <span class="loading-bar"></span>
	
    
    {% section 'announcement-bar' %}

    {%- unless request.page_type == 'cart' -%}
    {%- comment -%}As required by Shopify rules, popup must be removed on cart page to remove distraction{%- endcomment -%}
    {% section 'popups' %}
    {%- endunless -%}

    {% section 'header' %}


    <main id="main" role="main">
      {{ content_for_layout }}
    </main>
    
    {%- if request.page_type == 'blog' or request.page_type == 'article' or request.page_type == 'page' -%}
    {% section 'static-newsletter' %}
    {%- endif -%}

    {% section 'text-with-icons' %}
    {% section 'footer' %}
    
    {% if template contains 'page.quote' or template contains 'page.quote.history' %}
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
		<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    {% endif %}
    
    {% if template != "index" %}
    <script src="//cdn.codeblackbelt.com/js/modules/frequently-bought-together/main.min.js?shop=genemco.myshopify.com" defer></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js" integrity="sha512-bE0ncA3DKWmKaF3w5hQjCq7ErHFiPdH2IGjXRyXXZSOokbimtUuufhgeDPeQPs51AI4XsqDZUK7qvrPZ5xboZg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endif %}
    
    {% if template contains 'page.history' %}
    	{{ 'jquery.buoyant.min.js' | asset_url | script_tag }}
    {% endif %}

  
    
    {% unless template contains 'page' %}
    	{% if template contains 'product' %}
    		{{ 'jquery.zoom.min.js' | asset_url | script_tag }}
    	{% endif %}
    {% endunless %}

    {% comment %}
    <!-- Handle registration redirect -->
    <script>
      $(document).ready(function(){
        var $returnTo = $('<input type="hidden" name="return_to" value="/" />');

        if ($('#create_customer').length > 0){ //if registration form
          $returnTo.insertBefore($('#create_customer input[type="submit"]')); // add return_to input
        } 
        
        if ($('#g-recaptcha').length){ //if captcha form
          $returnTo.insertBefore($('input.shopify-challenge__button'));
        }
      });
    </script> 
    {% endcomment %}
  
<!--begin-boost-pfs-js-->
      

<!--end-boost-pfs-js-->
    
{% render 'traffic-referral' %}


 <!--begin-boost-pfs-js-->
   
 <!--end-boost-pfs-js-->

 <!--begin-boost-pfs-js-->
   {% render 'boost-pfs' %}
 <!--end-boost-pfs-js-->
    <!-- Facebook code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '755826212606198');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=755826212606198&ev=PageView&noscript=1"/></noscript>
    
    <!-- Linkedin code -->
    <script type="text/javascript">
    _linkedin_partner_id = "4675228";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
    <script type="text/javascript">
      (function(l) {
      if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
      window.lintrk.q=[]}
      var s = document.getElementsByTagName("script")[0];
      var b = document.createElement("script");
      b.type = "text/javascript";b.async = true;
      b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
      s.parentNode.insertBefore(b, s);})(window.lintrk);
    </script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=4675228&fmt=gif" />
    </noscript>
</body>
  {{ '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' | stylesheet_tag }}
</html>
