{%- assign is_entirely_fulfilled = false -%}
{%- assign has_one_fulfillment = false -%}

{%- if order.fulfillment_status == 'fulfilled' -%}
  {%- assign has_one_fulfillment = true -%}
  {%- assign is_entirely_fulfilled = true -%}
  {%- assign tracking_numbers = '' -%}

  {%- assign number_of_fulfillable_items = 0 -%}

  {%- for line_item in order.line_items -%}
    {%- assign number_of_fulfillable_items = number_of_fulfillable_items | plus: line_item.quantity -%}
  {%- endfor -%}

  {%- for line_item in order.line_items -%}
    {%- assign tracking_numbers = tracking_numbers | append: line_item.fulfillment.tracking_number | append: ',' -%}

    {%- if line_item.fulfillment.item_count != number_of_fulfillable_items -%}
      {%- assign has_one_fulfillment = false -%}
    {%- endif -%}
  {%- endfor -%}

  {%- assign tracking_numbers = tracking_numbers | split: ',' | compact | uniq -%}
{%- endif -%}

<section data-section-id="account" data-section-type="account">
  <div class="container container--flush">
    <div class="page__sub-header">
      <nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="breadcrumb">
        <ol class="breadcrumb__list">
          <li class="breadcrumb__item">
            <a class="breadcrumb__link link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a> {%- render 'icon', icon: 'arrow-right' -%}
          </li>

          <li class="breadcrumb__item">
            <a class="breadcrumb__link link" href="{{ routes.account_url }}">{{ 'general.breadcrumb.account' | t }}</a> {%- render 'icon', icon: 'arrow-right' -%}
          </li>

          <!-- <li class="breadcrumb__item">
            <a class="breadcrumb__link link" href="/pages/quotes-history">My Quotes</a> {%- render 'icon', icon: 'arrow-right' -%}
          </li> -->

          <li class="breadcrumb__item">
            <span class="breadcrumb__link" aria-current="page">My Quotes</span>
          </li>
        </ol>
      </nav>
    </div>

    <div class="layout">
      <div class="layout__section layout__section--secondary">
        <div class="card card--sticky hidden-pocket">
          <div class="card__section card__section--tight">
            <div class="card__linklist">
              <a href="{{ routes.account_url }}" class="card__linklist-item link">{{ 'customer.general.orders' | t }}</a>
              <a href="/pages/quotes-history" class="card__linklist-item link text--strong">My quotes</a>
              <a href="{{ routes.account_addresses_url }}" class="card__linklist-item link">{{ 'customer.general.addresses' | t }}</a>
              <a href="/pages/update-my-email" class="card__linklist-item link text--strong">Update Email</a>
              <a href="{{ routes.account_logout_url }}" class="card__linklist-item link" data-no-instant>{{ 'customer.general.logout' | t }}</a>
            </div>
          </div>
        </div>

        <div class="value-picker-wrapper hidden-tablet-and-up">
          <button class="value-picker-button value-picker-button--pill" aria-haspopup="true" aria-expanded="false" aria-controls="account-selector" data-action="open-value-picker">
            {{- 'customer.general.orders' | t -}} {%- render 'icon', icon: 'arrow-bottom' -%}
          </button>

          <div id="account-selector" class="value-picker" aria-hidden="true">
            <div class="value-picker__inner">
              <header class="value-picker__header">
                <span class="value-picker__title text--strong">{{ 'customer.general.my_account' | t }}</span>
                <button class="value-picker__close" data-action="close-value-picker" aria-controls="account-selector" aria-label="{{ 'general.accessibility.close' | t }}">{% render 'icon', icon: 'close' %}</button>
              </header>

              <div class="value-picker__choice-list">
                <a href="{{ routes.account_url }}" class="value-picker__choice-item">{{ 'customer.general.orders' | t }} {% render 'icon', icon: 'check-2' %}</a>
                <a href="/pages/quotes-history" class="value-picker__choice-item is-selected">My quotes</a>
                <a href="{{ routes.account_addresses_url }}" class="value-picker__choice-item">{{ 'customer.general.addresses' | t }} {% render 'icon', icon: 'check-2' %}</a>
                <a href="/pages/update-my-email" class="value-picker__choice-item is-selected">Update Email</a>
                <a href="{{ routes.account_logout_url }}" class="value-picker__choice-item" data-no-instant>{{ 'customer.general.logout' | t }} {% render 'icon', icon: 'check-2' %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="layout__section">
        <div class="card">
          <div class="card__section card__section--tight">
            <h1 class="heading h1">My Quotes </h1>
          </div><div class="card__section">
              <div class="quote-history-content"></div>
            </div></div>
        
        
        {% comment %}
        <div class="order-summary card">
          <div class="card__header card__header--tight">

            <h1 class="card__title heading h1">My quotes</h1>

            <p class="hidden-tablet-and-up">{{ order.created_at | date: format: 'month_day_year_time' }}</p>

          </div>
          
		  {% if customer %}
          
          <script type="text/javascript">
            $(document).ready(function($){
              window.registered_customer = { 
                id: "{{ customer.id }}",
                total_spent: "{{ customer.total_spent }}",
                email: "{{ customer.email }}", 
                first_name: "{{ customer.first_name }}", 
                last_name: "{{ customer.last_name }}",
                address1: "{{ customer.addresses[0].address1 }}",
                address2: "{{ customer.addresses[0].address2 }}",
                city: "{{ customer.addresses[0].city }}",
                country: "{{ customer.addresses[0].country }}",
                province: "{{ customer.addresses[0].province }}",
                zip: "{{ customer.addresses[0].zip }}"
              };
            });
          </script>
          
          <div class="table-wrapper" id="genemco-my-quote-list"></div>
          
          {% else %}
          
          <div class="card">
            <div class="card__section">
              <p>Please login to see this page content</p>
            </div>
          </div>
          
          {% endif %}

        </div>
        {% endcomment %}

        
        {% comment %}
        <div class="grid">
          <div class="grid__cell 1/2--tablet-and-up">
            <div class="card">
              <div class="card__section">
                <p class="heading h6">{{ 'customer.order.billing_address' | t }}</p>

                {%- if order.billing_address -%}
                  {{- order.billing_address | format_address -}}
                {%- else -%}
                  <p>{{ 'customer.order.no_billing_address' | t }}</p>
                {%- endif -%}
              </div>
            </div>
          </div>

          <div class="grid__cell 1/2--tablet-and-up">
            <div class="card">
              <div class="card__section">
                <p class="heading h6">{{ 'customer.order.shipping_address' | t }}</p>

                {%- if order.shipping_address -%}
                  {{- order.shipping_address | format_address -}}
                {%- else -%}
                  <p>{{ 'customer.order.no_shipping_address' | t }}</p>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</section>
<script> var customer_email = ''; </script>
{% if customer %}<script>customer_email = '{{ customer.email }}';</script>{% endif %}
<script>
  var tableHeader = '<table>'+
  '<thead>'+
    '<tr>'+
      '<th width="280px" scope="col">Quote #</th>'+
      '<th width="80px" scope="col">Status</th>'+
      '<th scope="col">Project Role</th>'+
      '<th scope="col">Project Timeline</th>'+
      '<th scope="col">Deal Subject</th>'+
      '<th scope="col">Date Created</th>'+
    '</tr>'+
  '</thead>'+
  '<tbody>';
 var tableFooter = '</tbody></table>';   
  
  $( document ).ready(function() {
    $.ajax({
         type:'POST',
         url: webhook_domain +"/webhooks/get-quote-by-email",
         data: {'email': customer_email},
        beforeSend: function() {
            $('.quote-history-content').html('<div style="text-align:center;">Retreiving your data......</div>');
        },
         success:function(data){
            var obj = JSON.parse(data);
            var record ='';
              if(obj.length > 0){
                for (var i = 0; i < obj.length; i++) {
                    record += "<tr><td scope='row' data-label='Quote #'><div class='quote_id' onclick='openQuoteDetails(\""+obj[i].quote_id+"\");'>"+obj[i].quote_id+"</div></td><td data-label='Status'>"+obj[i].status+"</td><td data-label='Project Role'>"+obj[i].role_in_this_project+"</td><td data-label='Project Timeline'>"+obj[i].project_timeline+"</td><td data-label='Deal Subject'>"+obj[i].deal_subject+"</td><td data-label='Date Created'>"+obj[i].created_at1+"</td></tr>";
                }
                 $('.quote-history-content').html(tableHeader + record + tableFooter);
                
              }else{
               $('.quote-history-content').html('<table><caption>No Quote Record</caption></table>');
              }
            }
        });

  });

  function openQuoteDetails(id){
    $.ajax({
       type:'POST',
       url: webhook_domain +"/webhooks/get-quote-details-by-id",
       data: {'quote_id': id},
       success:function(data){
           var obj = JSON.parse(data);
           var record = '';
           var cust_offer = ' ';
           if(obj.product.length > 0){
              for (var i = 0; i < obj.product.length; i++) {
                  if(obj.product[i].customer_offer != null){
                    cust_offer = obj.product[i].customer_offer;
                  }else{
                    cust_offer = ' ';
                  }
                  record += "<tr><td scope='row' data-label='Image'><div><a href='"+obj.product[i].product_url+"'><img src='"+obj.product[i].product_image+"' /></a></div></td><td data-label='Name'><a href='"+obj.product[i].product_url+"'><span style='color:#000;font-weight:600;'>"+obj.product[i].product_title+"</span></a></td><td data-label='Customer Offer'>"+obj.product[i].customer_offer+"</td></tr>";
              }

            }
           var quickQuoteDialog = new Fancybox([{
                src: '<div class="fancy_div"><div style="font-size:18px;color:#ff6128;font-weight:600;"><span>Quote Information</span></div>'+
                    '<div class="quote_info"><div><span>Id: </span>'+obj.quote.quote_id+'</div>'+
                    '<div><span>Date Created: </span>'+obj.quote.created_at1+'</div>'+
                    '<div><span>Status: </span>'+obj.quote.status+'</div>'+
                    '<div><span>Project Role: </span>'+obj.quote.role_in_this_project+'</div>'+
                    '<div><span>Project Timeline: </span>'+obj.quote.project_timeline+'</div>'+
                    '<div><span>About Project: </span>'+obj.quote.about_project_and_request+'</div>'+
                    '<div><span>Deal Subject: </span>'+obj.quote.deal_subject+'</div></div>'+
                    '<div style="margin-top:20px;"><div style="font-size:18px;color:#ff6128;font-weight:600;"><span>Quoted Products</span></div>'+
                    '<table><thead><tr><th scope="col"></th><th scope="col">Name</th><th scope="col">Customer Offer</th></tr></thead>'+
                    '<tbody>'+record+
                    '</tbody></table></div></div>',
                type: "html"
              }]);
       }
      });
      
  }
</script>
<style>
  table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table th {
  background-color: #f8f8f8;
}
table tr {
  /* background-color: #f8f8f8; */
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
.quote_id{
  color:#ff6128;
  cursor:pointer;
}
.quote_info span{
  color:#000;
  font-weight:600;
}
@media screen and (min-width: 768px){
  .fancybox__content {
    border-radius: 5px;
    width: 700px;
}
}

</style>
{% section 'static-promotion-list' %}
{% section 'static-recently-viewed-products' %}